body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #f4f4f9;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;

}




header{
    position: fixed; 
    margin: 0px;
    padding: 15px;
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.h-logo {
    display: flex;
}

.h-logo img {
    margin-right: 30px;
    cursor: pointer;
}

header a {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;

}

header a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    background-color: rgb(0, 0, 0);
     transition: 0.5s;
}

main{
    width:50%;
    margin-top: 50px;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(61, 59, 59);
}

img{
    border-radius: 50px;
    border: 2px solid blue;
  
}

img:hover{
    box-shadow: 2px 2px 7px blue;
    cursor: pointer;
     transition: 0.8s;
}

footer{
    background-color: black;
    color: yellow;
    padding: 20px;
    text-align: center;
    width: 100%;
}

footer p:hover {
    color: red;
    cursor: pointer;
     transition: 1s;
}

table {
    width: 100%;
    margin-top: 20px;

}

th {
    padding: 10px;
}

td {
    padding: 10px;
}


.active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: underline;
   
    
}




label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 500;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.2s, box-shadow 0.2s;
}

 .status-data:hover {
    background-color: antiquewhite;
    cursor: pointer;
 }

 .index-data ol li a  {
    color: rgb(0, 0, 0);  
    background-color: #f4f4f9;
    padding: 10px;
    border-radius: 4px;
 }

.index-data ol li  {
    padding: 15px;
    
  }

fieldset{
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

legend{
    color: blue;
    font-weight: bold;
}

.main-butt a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

.main-butt a:hover {
    color: white;
}

.main-butt{
    text-align: center;
    
}

.butt {
    margin-top: 30px;
    padding: 13px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #f4f4f9;
    color: black;
    transition: 0.4s;
    border-radius: 5px;
}

.butt:hover {
    
    padding-left: 60px;
    padding-right: 60px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px black;
}






@media (max-width: 768px) {
    main{
       
        width: 90%;
        margin-top: 50px;
        margin: 10px;
        padding: 50px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgb(61, 59, 59);
    }

    header{
        flex-direction: column;

    }

    nav{
        margin-top: 30px;
    }

}

.bg-light{
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 1000px;
    color: black;
}
