body {
    padding-top: 50px;
}

.box{
    height: 80vh;
    width: 60%;
    background-color: rgb(197, 253, 253);
    border: 3px dashed rgb(56, 98, 236);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;

 

}

h1{
    margin-right: 30px;
}

.text1 {
    height: 200px;
    width: 800px;
    background-color: aqua;
    border:2px dashed blue;
    color: rgb(0, 26, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}


.text2 {
    height:200px;
    width: 800px;
    background-color: rgb(255, 253, 106);
    border: 2px dashed rgb(255, 174, 23);
    color: rgb(255, 0, 0);
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}